soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9e480eb2-ad55-4fe0-a7ee-ad3b9b0afc12" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="efb09b78-90cc-4df3-bdf8-61d3dcce45dd" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="57f8c784-72c5-4b53-9af0-1e035ea01d0e" >
		<http:listener doc:name="Listener" doc:id="ea0ecfdc-c1ed-4e6c-9e12-e2342aec9ccf" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="0141d482-4e38-4d4f-9dbe-e417daa96200" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="6dca842c-64b0-49c9-ae5c-01fb37ffbcb4" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="9d9aee75-1446-4674-8db4-7edd70c73ba1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="37bf732a-5cf8-432f-8d61-da257d17c482" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
		<logger level="INFO" doc:name="Logger" doc:id="6f891a06-b164-4ad1-8c19-0e518a6d3080" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="da9213b8-c6cd-4aa6-9f4a-b8238ac89f55" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
